# Tópicos Especiais em Processamento da Informação: Ciência de Dados


## Primeira Avaliação:

Prof. Luiz Affonso Guedes Engenharia de Computação - UFRN 2017-2

Alunos:

Objetivo:

    Análise da base de dados sobre aspectos socio-cuturais de brasileiros adultos (acima de 18 anos). Base de dados da Pesquisa Nacional de Saúde 2013 - IBGE

# Instruções
- Carregue a base de dados: base_pesquisa_nacional_de_saude_2013_IBGE.csv
- Campos (colunas da base de dados)
    - saude_autorreferida (muito_ruim=1, ruim=2, boa=3, muito_boa=4, excelente=5)
    - sexo (masculino=1, feminino=2)
    - idade (idade em anos)
    - cor_raca (branca=1, preta=2, amarela=3, parda=4, indígena=5)
    - e_civil (casado=1, separado_ou_desquitado_judicialmente=2, divorciado=3, viúvo=4, solteiro=5) 
    - nivel_instrucao (pré_escola=1, alfabetização=2, ensino_fundamental=3 e 4, ensino_médio = 5 e 6, graduação=7)
    - sabe_ler_escrever (sim=1, não=2)
    - dirige_carro (sim=1, não=2)
    - dirige_motocicleta (sim=1, não=2)
    - freq_anda_motocicleta (sempre=1, quase_sempre=2, às_vezes=3, raramente=4, nunca=5)
    - aciden_lesao_12meses (sim=1, não=2) - Acidente de trânsito nos últimos 12 meses com lesão.
    - idade_inicio_alcool - idade que começou inferir bebida alcólica. A pergunta não foi feita para todos os participantes da pesquisa. Ainda há o caso de alguns entrevistados que não emgerem bebidas alcólicas, ou não sabiam ou não responderam. Nesses casos, não há valor no campo correspondente.

In [7]:
# importar pandas
import pandas as pd

print("carregar a base de dados - base_pesquisa_nacional_de_saude_2013_IBGE.csv")
data = pd.read_csv('base_pesquisa_nacional_de_saude_2013_IBGE.csv', sep=';')
data

carregar a base de dados - base_pesquisa_nacional_de_saude_2013_IBGE.csv

,UF,saude_autorreferida,sexo,idade,cor_raca,e_civil,nivel_instrucao,sabe_ler_escrever,dirige_carro,dirige_motocicleta,freq_anda_motocicleta,aciden_lesao_12meses,idade_inicio_alcool
0,11,3,1,35,2,1,2,2,2,2,5,2,NaN
1,11,2,1,42,4,1,2,1,1,1,2,2,22.0
2,11,2,2,32,2,5,5,1,2,2,1,2,NaN
3,11,2,2,27,1,5,3,1,1,1,5,2,NaN
4,11,3,1,53,2,1,1,1,2,2,5,2,NaN
5,11,2,2,28,4,1,5,1,2,2,1,2,NaN
6,11,3,2,36,4,1,5,1,1,2,5,2,NaN
7,11,4,1,43,1,1,2,1,1,1,1,2,NaN
8,11,2,1,44,1,1,5,1,2,1,1,2,NaN
9,11,2,1,80,1,1,1,1,2,2,5,2,NaN
10,11,2,1,27,4,1,3,1,2,2,2,2,NaN
11,11,2,1,29,4,5,5,1,2,2,5,2,NaN
12,11,2,1,37,4,1,2,1,2,2,3,2,NaN
13,11,2,1,77,4,5,1,2,2,2,5,2,NaN
14,11,2,1,33,4,5,3,1,2,1,2,2,NaN
15,11,2,2,55,1,3,5,1,2,2,3,2,15.0
16,11,3,2,67,1,3,4,1,2,2,5,2,NaN
17,11,1,2,39,4,5,5,1,2,1,1,2,NaN
18,11,2,1,36,2,1,5,1,1,1,3,2,NaN
19,11,2,1,56,2,5,7,1,1,1,3,2,19.0
20,11,3,1,75,4,1,1,1,2,2,5,2,NaN
21,11,2,2,52,4,5,2,1,2,2,3,1,NaN
22,11,2,1,27,4,5,6,1,1,1,3,1,NaN
23,11,2,1,40,4,1,2,1,2,2,5,2,NaN
24,11,2,1,54,4,1,5,1,1,2,5,2,NaN
25,11,2,2,25,4,5,7,1,1,1,4,2,NaN
26,11,2,1,34,4,5,5,1,1,1,1,2,17.0
27,11,2,2,39,4,1,5,1,2,1,1,2,NaN
28,11,2,2,32,4,1,5,1,2,2,4,2,NaN
29,11,2,2,39,4,5,2,1,2,2,4,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60172,53,2,1,41,4,1,1,1,1,1,4,2,NaN
60173,53,2,1,27,1,5,7,1,1,2,5,2,19.0
60174,53,4,2,43,4,1,2,1,2,2,5,2,NaN
60175,53,3,2,50,4,1,2,1,2,2,5,2,NaN
60176,53,3,2,49,4,5,2,1,2,2,2,2,NaN
60177,53,3,1,38,1,5,4,1,1,1,4,2,NaN
60178,53,2,1,29,4,5,2,1,1,1,1,2,17.0
60179,53,3,1,20,1,5,2,1,2,1,3,2,NaN
60180,53,2,2,25,1,1,7,1,1,1,3,2,NaN
60181,53,2,1,18,2,5,2,1,2,2,4,2,13.0
60182,53,2,2,19,3,1,2,1,2,2,5,2,NaN
60183,53,2,1,35,4,1,2,1,1,1,3,2,17.0
60184,53,1,2,18,1,5,2,1,2,2,5,2,NaN
60185,53,2,2,39,4,1,2,1,1,2,5,2,NaN
60186,53,3,2,63,1,1,1,1,2,2,5,2,NaN
60187,53,2,2,34,4,5,1,2,2,2,5,2,NaN
60188,53,2,2,18,1,5,1,2,2,2,5,2,NaN
60189,53,2,1,29,1,5,6,1,2,1,3,2,NaN
60190,53,1,1,55,4,3,2,1,1,1,4,2,20.0
60191,53,1,1,39,1,1,5,1,1,1,4,2,22.0
60192,53,2,2,24,4,5,4,1,2,2,5,2,20.0
60193,53,1,2,43,4,3,2,1,2,2,3,2,NaN
60194,53,2,2,24,4,5,5,1,2,2,5,2,NaN
60195,53,3,1,64,1,3,1,1,2,2,5,2,NaN
60196,53,2,2,18,4,1,3,1,2,2,5,2,NaN
60197,53,3,2,65,4,4,4,1,2,2,5,2,NaN
60198,53,3,2,30,4,5,3,1,2,2,5,2,NaN
60199,53,1,2,27,4,1,5,1,2,1,3,2,NaN
60200,53,2,1,57,4,1,5,1,1,1,5,2,NaN
60201,53,1,2,31,4,1,6,1,1,2,5,2,NaN

Questão 1 - Análise sobre idade e estado civil
- Determinar o percentual dos entrevistados por sexo.
- Calcular a idade média dos homens
- Calcular a idade média das mulheres
- Calcular a idade média dos homens casados
- Calcular a idade média das mulheres casadas
- Plotar o histograma das idades das pessoas do sexo masculino
- plotar o histograma das pessoas do sexo feminino

In [39]:
hcasados = data[data['sexo']==1]['e_civil']==1
hcasados

0         True
1         True
4         True
7         True
8         True
9         True
10        True
11       False
12        True
13       False
14       False
18        True
19       False
20        True
22       False
23        True
24        True
26       False
30       False
33        True
34       False
35        True
36        True
38        True
39       False
44       False
48        True
49        True
50        True
52       False
         ...
60140     True
60142     True
60145     True
60146    False
60147     True
60148     True
60149    False
60150    False
60153    False
60154    False
60155    False
60158    False
60160     True
60162     True
60164    False
60165    False
60167    False
60169    False
60172     True
60173    False
60177    False
60178    False
60179    False
60181    False
60183     True
60189    False
60190    False
60191     True
60195    False
60200     True
Name: e_civil, Length: 25920, dtype: bool

In [40]:
# Questão 01
print("Respostas da Questão 01")
Total = data['sexo'].count()
MulherTotal = data[data['sexo']==2]['sexo'].count()
HomemTotal = data[data['sexo']==1]['sexo'].count()
phomem = HomemTotal*100/Total
pmulher = MulherTotal*100/Total
print("*Percentual dos entrevistados por sexo:","Homem=", phomem, "Mulher=", pmulher)
idadehomem = data[data['sexo']==1]['idade'].sum()
idademulher = data[data['sexo']==2]['idade'].sum()
med_idade_h = idadehomem/HomemTotal
med_idade_m = idademulher/MulherTotal
print("*Media idade dos homens=", med_idade_h)
print("*Media idade dos mulheres=", med_idade_m)
hcasado = data[data['sexo']==1][data['e_civil']==1]['idade'].sum()

Respostas da Questão 01
*Percentual dos entrevistados por sexo: Homem= 43.055048005 Mulher= 56.944951995
*Media idade dos homens= 43.0082175926
*Media idade dos mulheres= 43.5439005892

/opt/Anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

535854

Questão 2 - Relação da Saúde Autorreferido em função da idade
- calcular a saude_autorreferida média dos homens com idade até 40 anos.
- calcular a saude_autorreferida média das mulheres com idade até 40 anos.
- calcular a saude_autorreferida média dos homens com idade maior ou igual a 41 anos.
- calcular a saude_autorreferida média das mulheres com idade maior ou igual a 41 anos.
- plote os gráficos de caixa (boxplot) para essas 04 análises.

In [44]:
# Questão 02
print("Respostas da Questão 02")
hsaudecount = data[data['sexo']==1][data['idade']<=40]['saude_autoreferida']
hsaudecount

Respostas da Questão 02

,UF,saude_autorreferida,sexo,idade,cor_raca,e_civil,nivel_instrucao,sabe_ler_escrever,dirige_carro,dirige_motocicleta,freq_anda_motocicleta,aciden_lesao_12meses,idade_inicio_alcool
0,11,3,1,35,2,1,2,2,2,2,5,2,NaN
10,11,2,1,27,4,1,3,1,2,2,2,2,NaN
11,11,2,1,29,4,5,5,1,2,2,5,2,NaN
12,11,2,1,37,4,1,2,1,2,2,3,2,NaN
14,11,2,1,33,4,5,3,1,2,1,2,2,NaN
18,11,2,1,36,2,1,5,1,1,1,3,2,NaN
22,11,2,1,27,4,5,6,1,1,1,3,1,NaN
23,11,2,1,40,4,1,2,1,2,2,5,2,NaN
26,11,2,1,34,4,5,5,1,1,1,1,2,17.0
33,11,2,1,35,4,1,5,1,1,2,4,2,NaN
36,11,2,1,35,4,1,6,1,1,1,3,2,NaN
38,11,2,1,32,4,1,2,1,2,1,1,2,NaN
39,11,2,1,21,4,5,2,1,2,1,3,2,NaN
44,11,2,1,27,4,5,6,1,1,1,4,2,NaN
49,11,1,1,30,4,1,6,1,1,1,4,2,NaN
59,11,1,1,22,4,5,6,1,1,2,5,2,NaN
67,11,2,1,36,4,5,5,1,2,2,4,2,17.0
69,11,1,1,30,4,5,4,1,1,1,4,2,NaN
75,11,2,1,19,1,5,4,1,1,1,4,2,NaN
76,11,2,1,32,4,5,5,1,1,1,1,2,NaN
82,11,3,1,39,1,5,1,2,2,1,1,2,15.0
83,11,2,1,36,4,3,7,1,2,1,1,2,NaN
86,11,2,1,26,4,5,1,1,2,1,4,2,NaN
90,11,3,1,26,1,5,2,1,1,1,2,2,NaN
93,11,2,1,27,1,5,5,1,2,1,1,2,16.0
94,11,3,1,19,1,5,5,1,1,1,3,2,NaN
98,11,3,1,35,4,5,2,1,1,1,1,2,NaN
99,11,2,1,18,4,5,4,1,1,1,2,2,NaN
101,11,2,1,32,4,5,5,1,1,1,3,1,NaN
102,11,1,1,36,4,1,7,1,1,2,5,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60087,53,2,1,19,1,5,2,1,2,2,5,2,NaN
60090,53,2,1,37,2,1,7,1,2,2,5,2,15.0
60094,53,2,1,23,4,1,3,1,1,1,1,1,15.0
60096,53,2,1,35,1,5,2,1,2,1,2,2,NaN
60102,53,3,1,36,4,1,6,1,2,2,5,2,13.0
60111,53,2,1,34,4,1,2,1,1,2,5,2,12.0
60118,53,2,1,37,4,5,6,1,1,1,3,1,7.0
60126,53,2,1,29,2,5,4,1,2,2,5,2,NaN
60129,53,3,1,24,4,5,6,1,1,2,5,2,14.0
60136,53,5,1,29,4,5,5,1,2,1,2,2,NaN
60139,53,1,1,29,1,1,7,1,1,1,4,2,14.0
60140,53,2,1,28,2,1,4,1,1,1,1,1,17.0
60146,53,2,1,29,1,5,5,1,1,1,3,2,15.0
60150,53,2,1,26,4,5,3,1,1,2,5,2,NaN
60153,53,1,1,34,1,5,5,1,1,2,5,2,16.0
60154,53,3,1,34,1,5,3,1,1,1,4,2,NaN
60155,53,2,1,24,4,5,2,1,2,1,1,2,NaN
60158,53,1,1,30,1,5,5,1,1,1,4,2,NaN
60160,53,2,1,33,4,1,2,1,1,1,4,2,NaN
60164,53,2,1,30,2,5,2,1,2,2,5,2,14.0
60165,53,2,1,23,1,5,5,1,1,1,4,2,17.0
60167,53,1,1,39,4,5,1,2,1,1,4,2,NaN
60173,53,2,1,27,1,5,7,1,1,2,5,2,19.0
60177,53,3,1,38,1,5,4,1,1,1,4,2,NaN
60178,53,2,1,29,4,5,2,1,1,1,1,2,17.0
60179,53,3,1,20,1,5,2,1,2,1,3,2,NaN
60181,53,2,1,18,2,5,2,1,2,2,4,2,13.0
60183,53,2,1,35,4,1,2,1,1,1,3,2,17.0
60189,53,2,1,29,1,5,6,1,2,1,3,2,NaN
60191,53,1,1,39,1,1,5,1,1,1,4,2,22.0

Questão 3 - Nível de Instrução em função de idade e sexo
- calcular o nível de instrução (nivel_instrucao) médio dos homens com idade até 40 anos.
- calcular o nível de instrução (nivel_instrucao) médio das mulheres com idade até 40 anos.
- calcular o nível de instrução (nivel_instrucao) médio dos homens com idade maior ou igual a 41 anos.
- calcular o nível de instrução (nivel_instrucao) médio das mulheres com idade maior ou igual a 41 anos.
- plotar os gráficos de caixa (boxplot) para essas 04 análises.

In [ ]:
# Questão 03
print("Respostas da Questão 03")

Questão 4 - Nível de Instrução em função de idade e sexo
- Determine se há correlação entre sexo e nível de instrução (nivel_instrucao).
- Determine se há correlação entre raça (cor_raca) e nível de instrução (nivel_instrucao).
- Determine se há correlação entre sexo e dirige_motocicleta.
- Apresente os resultados de forma gráfica.

In [46]:
# Questão 04
print("Respostas da Questão 04")
df = data['sexo']['nivel_instrucao']
df

Respostas da Questão 04

TypeError: list indices must be integers or slices, not str

Questão 5 - Perfil dos motoristas de motocicletas
- Considere "Jovem" pessoas com idade até 35 anos e "Adulto" pessoas com idade igual ou maior que 36 anos.
- Determine o percentual de homens Jovens que dirigem motocicleta
- Determine o percentual de homens Adultos que dirigem motocicleta
- Determine o percentual de mulheres Jovens que dirigem motocicleta
- Determine o percentual de mulheres Adultas que dirigem motocicleta
- Plote esses 04 resultados num gráfico de barras

In [ ]:
# Questão 05
print("Respostas da Questão 05")

Questão 6 - Perfil dos motoristas de motocicletas
- Determine o percentual de pessoas que utilizam motocilceta sempre ou quase sempre (freq_anda_motocicleta <= 2) e que sofreram acidente nos últimos 12 meses (aciden_lesao_12meses ==1).
- Determine o percentual de pessoas que não utilizam frequentemente motocilceta (freq_anda_motocicleta >= 3) e que sofreram acidente nos últimos 12 meses (aciden_lesao_12meses ==1).
- Apresente os resultados em gráfico de barras.

In [2]:
# Questão 06
print("Respostas da Questão 06")

Respostas da Questão 06

Questão 7 - Perfil sobre consumo de alcool

- Calcule a idade média que os homens começam a consumir alcool (idade_inicio_alcool)
- Calcule a idade média que as mulheres começam a consumir alcool (idade_inicio_alcool)
- Calcule a idade média que os homens começam a consumir alcool (idade_inicio_alcool) em função do nível de instrução (nivel_instrucao)
   - Considerar:
       - nivel_superior SE nivel_instrucao == 7
       - nivel_medio SE nivel_instrucao == 5 OU 6
       - nivel_basico SE nivel_intrucao < 5
- Apresente o resultado de em forma gráfica
 
OBS. Atenção. Nem todos os entrevistados foram questionados sobre o item "idade_inicio_alcool".

In [ ]:
# Questão 07
print("Respostas da Questão 07")

Questão 8 - Proponha e resolva uma questão que use os dados dessa base de dados. Serão considerados os seguintes aspectos:
- pertinência e relevância da questão.
- corretude da resposta.

In [ ]:
# Questão 08
print("Respostas da Questão 08")